.architects {
    background-color: $color-dark-forest-green;
    grid-column: col-start 7 / full-end;
    padding: 2rem;

    display: grid;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2rem;
    justify-items: center;
    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 4vh;
        align-items: center;
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, min-content max-content);
            padding-bottom: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: min-content max-content;
        }
    }
    &__img {
        width: 8rem;
        border-radius: 50%;
        display: block;
    }
    &__works {
        text-transform: uppercase;
        color: $color-light-gray-2;
        margin-top: -3px;
    }
}
